* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Poppins, "Segoe UI", sans-serif;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#gofit-world {
  position: absolute;
  width: 75%;
  height: 100%;
  right: 0;
  overflow: hidden;
}

.landing__wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;

  .header {
    height: 108px;
    padding: 2rem 3rem;

    .logo {
      max-height: 100%;

      img {
        height: 100%;
      }
    }
  }

  .landing__content {
    padding-left: 4rem;
    padding-top: 6rem;

    .sub__text {
      font-size: 1.25rem;
      font-weight: 600;
      color: #023e8a;
    }

    .main__text {
      font-size: 4rem;
      width: 40%;
      word-wrap: break-word;
      font-weight: 600;
    }

    .code__input {
      margin-top: 1rem;
      padding: 0.5rem 0.75rem;
      font-size: 1.25rem;
      border: 1px solid #023e8a;
      color: white;
      background: #023e8a;
      border-radius: 5px;
      transition: all ease-in-out 250ms;

      &::placeholder {
        color: rgba(255, 255, 255, 0.8);
      }

      &.disabled {
        background: #333333;
        border: 1px solid #333333;
        color: rgba(255, 255, 255, 0.75);
        transition: all ease-in-out 250ms;
      }
    }

    .input__loader {
      opacity: 0;
      display: flex;
      align-items: center;
      margin-top: 1rem;

      svg {
        width: 24px;
        height: 24px;
        margin-right: 0.75rem;
      }
    }
  }
}

.spinner {
  -webkit-animation: rotation 1.35s linear infinite;
  animation: rotation 1.35s linear infinite;
}

#gofit-world-game {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  overflow: hidden;
}

.game__wrapper {
  background: linear-gradient(#badbe4, #aaf7e1);
}

.panel {
  position:absolute;
  top:0;
  left:0;
  padding: 2em 3em;
  width: 25%;
  box-sizing: border-box;
}

.game-title {
  z-index:100;
  position:relative;
  text-align:center;
}

.game-title .title {
  font-family: 'Playfair Display', serif;
  font-weight:700;
  font-size:3em;
}

.game-title .byline {
  font-family: 'Playfair Display', serif;
  text-transform:uppercase;
  color:#333;
  letter-spacing:0.2em;
  font-size:0.8em;
  font-weight:600;
  margin-top:0.5em;
}


@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.circle {
  stroke-dasharray: 180;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: turn 1.35s ease-in-out infinite;
  animation: turn 1.35s ease-in-out infinite;
}

@-webkit-keyframes turn {
  0% {
    stroke-dashoffset: 180;
  }

  50% {
    stroke-dashoffset: 45;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 180;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes turn {
  0% {
    stroke-dashoffset: 180;
  }

  50% {
    stroke-dashoffset: 45;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 180;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-flicker {
  -webkit-animation: flickerAnimation 1.5s infinite;
  -moz-animation: flickerAnimation 1.5s infinite;
  -o-animation: flickerAnimation 1.5s infinite;
  animation: flickerAnimation 1.5s infinite;
}

svg {
  stroke: #023e8a;
}
